
body {

h1 {
   color:black;
   font-family:
   text-align:
}

h2 {
   color: black;
   text-align:
}

h3 {
    color: black;
    text-align:
}

img {
   border:
   width:
   height: 
}   

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
