
body {
   background-color: #eef6ff;  /* light blue background */
}

h1 {
   color:black;
   font-family:
   text-align:
}

h2 {
   color: black;
   text-align:
}

h3 {
    color: black;
    text-align:
}

img {
   border:
   width:
   height: 
}   

.container {
    text-align: center;
}
